@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;500;700&display=swap');

:root {
  width: 100%;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #030728 no-repeat center;
  background-image: url('/bg.png');
}

.currency-converter {
  background: rgba(2, 7, 40, 0.5);
  margin-inline: auto;
  padding: 40px 30px 50px;
  border-radius: 8px;
  max-width: 410px;
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);

  .converter-title {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
  }

  .converter-form {
    margin-top: 45px;

    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;

      .form-label {
        display: block;
        color: #fff;
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 9px;
      }

      .form-input {
        min-width: 310px;
        color: #fff;
        outline: none;
        font-weight: 500;
        font-size: 1.1rem;
        padding-inline: 15px;
        min-height: 48px;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 6px;
      }
    }

    .form-group__currency {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .currency-select {
        display: flex;
        align-items: center;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 6px;
        padding-inline: 10px;
        min-height: 45px;

        .currency-dropdown {
          font-size: 1rem;
          outline: none;
          border: none;
          background: none;
          color: #fff;
          font-weight: 500;
          padding-inline: 10px 5px;

          .currency-dropdown__option {
            color: #000;
            font-weight: 500;
          }
        }
      }

      .swap-icon {
        display: flex;
        width: 2rem;
        height: 2rem;
        padding: 5px;
        cursor: pointer;
        color: #fff;
        margin-top: 25px;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        transition: 0.2s ease;

        &:hover {
          background: rgba(255, 255, 255, 0.3);
        }
      }
    }

    .submit-button {
      width: 100%;
      min-height: 52px;
      border-radius: 6px;
      border: none;
      outline: none;
      font-size: 1rem;
      font-weight: 600;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      cursor: pointer;
      transition: 0.2s easy;

      &:hover {
        background: rgba(255, 255, 255, 0.8);
      }
    }

    .exchange-rate {
      color: #fff;
      font-size: 1.1rem;
      font-weight: 500;
      text-align: center;
      padding-block: 25px;
      margin-top: 30px;
      border-radius: 6px;
      background: rgba(255, 255, 255, 0.15);

      .exchange-rate__default {
        opacity: 0.5;
      }
    }

    .exchange-rate__currency {
      display: flex;
      flex-direction: column;

      .exchange-title {
        font-size: 1rem;
        margin-bottom: 20px;
      }
    }
  }
}
